body{
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#buena{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 10px;
    font-size: 100px;
}

.tu-mama{
    background-color: aquamarine;
    display: flex;
    width: 200px;
    height: 100px;
}

.hola-bro{
    background-color: aquamarine;
    display: flex;
    width: 200px;
    height: 100px;
    left: 30px;
}